<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="error">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<h1>Books</h1>

<table>

  <tr>
    <div class="th1"><th>title</th></div>
    <div class="th2"><th>body</th></div>
    <div class="th3"><th></th></div>
  </tr>

  <% @books.each do |book| %>
    <div class="book-comment">

      <tr>
        <th><%= book.title %></th>
        <th><%= book.body %></th>

        <th>
          <%= link_to "Show", "/books/#{book.id}" %>
          <%= link_to "Edit", "/books/#{book.id}/edit" %>
          <%= link_to "Destroy", destroy_list_path(book.id),method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </th>
      </tr>
    </div>
  <% end %>

</table>

<div class="new">
  <h2>New book</h2>


  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    title<br>
  <%= f.text_field :title %><br>
    body<br>
  <%= f.text_area :body %><br>

  <%=f.submit 'Create Book' %>
  <% end %>
</div>
